.hero {
  height: 500px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  background: url("../media/img/hero_small.jpg") no-repeat left;
  background-size: 110%;
  background-position: 10% 0;
  color: white;

  @media only screen and (min-width: 469px) {
    background-size: 100%;
    background-position: 0 -80px;
  }

  .call-to-action {
    width: 100%;
    .action-container {
      height: 100px;
      background: $prime;

      display: flex;
      flex-direction: column;
      align-items: center;

      font-family: $font-heading;
      text-align: center;

      h1 {
        font-size: 5vw;
      }
    }
    #hero-shape-desktop {
      display: none;
    }
    #hero-shape-mobile {
      width: 100%;
      margin-bottom: -5px;
    }
  }
}
.book-list {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 4fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  overflow: hidden;

  margin: 10% 0;

  h3 {
    grid-column: 1  / span 2;
    grid-row: 1 / span 1;
    font-size: 5vw;
    font-family: $font-subheading;
    text-align: center;
    padding: 0 10%;
  }
  ul {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
    font-family: $font-heading;
    font-size: 2.5vw;

    li {
      display: flex;
      align-items: center;
      margin: 2% 0;
      img {
        margin: 0 5%;
      }
    }
  }
  & > img{
    grid-column:1 / span 1;
    grid-row: 2 / span 1;
    width: 150px;
    margin: 30% 0 0 -15%;
  }
  
  @media only screen and (min-width: 499px) {
    margin-top: 7%;
    h3 {
      font-size: 4vw;
    }
    & > img{
      width: 200px;
      margin: 10% 0 0 -15%;
    }
  }
}
.promotion {
  height: 100%;
  color: $secondary;
  text-align: center;
  h1 {
    font-family: $font-heading;
    font-size: 1.75em;
  }
  h2 {
    font-family: $font-subheading;
    font-size: 1.25em;
  }
  span {
    display: block;
    width: 40%;
    margin: 10px auto;
  }
}
.book-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  margin: 10% 0;
  .book {
    img {
      width: 40%;
    }
    .description {
      float: left;
      height: 100%;
      width: 58%;
      position: relative;
      span:first-child {
        font-size: 1.2em;
      }
      .stars {
        color: $prime;
      }
      .order-button {
        position: absolute;
        bottom: 2px;
        left: 10px;
        font-family: $font-subheading;
        color: white;
        background: $prime;
        padding: 5px;
        border-radius: 5px;
        cursor: pointer;
      }
    }
  }

}
.video {
  position:relative;
  padding-bottom:56.25%;
  padding-top:30px;
  height:0;
  overflow:hidden;
  margin-bottom: 20px;
  iframe {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
  }
}

.rtl {
  direction: rtl;
}
.button {
  border-radius: 20px;
  padding: 10px 20px;
  margin: 10px 0;
  background: $button-bg;
  color: white;

  font-family: $font-heading;
  font-size: 3vw;
  font-weight: 300;

  cursor: pointer;

  &:hover {
    background: $button-hover;
  }
}
.desktop {
  display: none;
}